
/* default styling resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Default font-size is 16px. 1Rem=default font-size.
Reset font-size to make calculations easier. Setting font-size to 62.5% makes 1Rem=10px. Using rems also allows the app to be responsive to screen size changes  */
html {
  font-size: 62.5%;
}

/* Begin Overview specific styling */

.pic-style-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: gray;

}

.gallery-container {
  height: 500px;
  width: 65%;
  background-color: lime;
}

.styles-container {
  height: 500px;
  width: 35%;
  background-color: orangered;
}

.product-info-container {
  height: 250px;
  width: 100%;
  background-color: darkolivegreen;
}

.prod-desc-component {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 5px;
  background-color: violet;
}

.slogan-description-container {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  margin: 5px;
  width: 65%;
  padding: 5px;
  border-right: 4px solid black;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  margin: 5px;
  width: 35%;
}

.product-detail-item {
  margin-right: 10px;
}

.detail-item-container {
  padding: 5px;
}

.main-image-container {
  display: flex;
  align-items: center;
  background-color: goldenrod;
  height: 480px;
  margin: 1rem;
  position: relative;
}

.main-image {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center top;
  height: 100%;
}

.thumbnail-main-container {
  position: absolute;
  height: 90%;
  /* max-height: 90%;
  min-height: 0; */
  width: 5rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
}


.thumbnail-main-carousel {
  height: 100%;
  overflow-y: auto;
  flex: 1 0 auto;
  scroll-behavior: smooth;
}

.thumbnail-main-carousel::-webkit-scrollbar {
display: none;
}

.one-thumbnail-container {
  height: 5rem;
  width: auto;
  margin: 1.2rem 0;
  overflow: hidden;
  box-shadow: 0 1px 5px rgb(31, 30, 30);
}

.one-thumbnail {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center top;
}

.selected-thumbnail {
  padding-bottom: 0.3rem;
  border-bottom: solid black 2px;
}

.thumbnail-button{
  display: block;
}

.left-button {
  height: 6%;
  width: 5%;
  position: absolute;
  left: 6rem;
}

.right-button {
  height: 6%;
  width: 5%;
  position: absolute;
  left: 94%;
}

.zoom-button {
  height: 6%;
  width: 5%;
  position: absolute;
  left: 94%;
  top: 2%;
}

.styles-main-container {
  padding: 1rem;
  background-color: aquamarine;
}

.styles-review-container {
  padding: 0.5rem;
  background-color: white;
}

.styles-title-container {
  padding-top: 1 rem;
  line-height: 2;
}

.styles-colors-container {
  background-color: gray;
}

.swatch-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 14rem;
}

.one-swatch {
  height: 2rem;
  width: 2rem;
  background-color: white;
  border-radius: 50%;
  margin: 0.5rem;
}

/* End overview specific styling */


/* Austin CSS */

.product-data {
  font-weight: bold
}

.ratings-and-reviews-container {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.ratings-and-reviews-component-containers {
  margin-right: 5%;
}

.big-star-rating-container {
  display: flex;
  flex-direction: row;
}

.big-star-rating {
  font-size: x-large;
}

.ratings-and-reviews-entry-boxes {
  border: 2px solid black;
  margin: 10px auto;
  margin-right: 20%;
}

.ratings-and-reviews-comments-stars-and-username-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ratings-and-reviews-entry-box-stars {

}

.ratings-and-reviews-entry-box-user-and-date {

}

.ratings-and-reviews-entry-box-title {
  font-weight: bold;
  font-size: large;
}

.ratings-and-reviews-entry-box-content-body {

}

.ratings-and-reviews-entry-box-recommend {

}
.ratings-and-reviews-entry-box-response {

}

.ratings-and-reviews-entry-box-helpful {

}

