/* default styling resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Default font-size is 16px. 1Rem=default font-size.
Reset font-size to make calculations easier. Setting font-size to 62.5% makes 1Rem=10px. Using rems also allows the app to be responsive to screen size changes  */
html {
  font-size: 62.5%;
}

/* Begin SearchBar specific styling */

.search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  /* background-color: darkgray; */
  position: relative;
}

.brand-logo {
  font-size: 2.8rem;
  letter-spacing: -0.15rem;
  color: black;
  font-weight: 100;
  padding-left: 2rem;
}

.search-input {
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: underline solid black 2px;
  /* background-color: darkgray; */
  width: 12rem;
}

.search-input:focus {
  outline: none;
}

.input-searchbutton-container {
  display: flex;
}

.search-bar-button {
  padding: 0 2rem 0 1rem;
}

.search-results-container {
  position: absolute;
  top: 100%;
  width: 40%;
  z-index: 1;
  right: 0;
  background-color: white;
  box-shadow: -1px 2px 10px rgb(145, 142, 142);
  padding: 1.5rem;
  max-height: 30rem;
  overflow: scroll;
}

.close-search-results-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.close-search-results-container:hover svg circle {
  fill: black;
  /* transition: all ease-in 3s; */
}

.close-search-results-container:hover svg line {
  stroke: white;
}

.xcircle-icon {
  height: 3rem;
  width: 3rem;
}

.one-search-result-container {
  display: flex;
  height: 150%;
  margin-bottom: 0.5rem;
}

.one-search-result-container:hover {
  cursor: pointer;
  background-color: rgb(216, 220, 222);
}

.search-result-category {
  width: 30%;
  font-size: 1.4rem;
}

.search-result-name {
  width: 50%;
  font-size: 1.4rem;
}

.search-result-price {
  width: 20%;
  font-size: 1.4rem;
}

.search-title {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  padding-right: 1rem;
  padding-left: 0.5rem;
  text-decoration: underline;
}

.no-results {
  margin: 0 auto;
  font-size: 2rem;
}

.no-results-container {
  height: 150%;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

/* End SearchBar specific styling */
/* _______________________________________ */

/* Begin Overview specific styling */

.overview-main-container {
  height: 750px;
}

.pic-style-container {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.gallery-container {
  height: 100%;
  width: 65%;
}

.gallery-container-expanded {
  width: 100%;
  height: 100%;
}

.styles-container {
  height: 100%;
  width: 35%;
}

.product-info-container {
  height: auto;
  max-height: 20%;
  width: 100%;
}

.prod-desc-component {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 5px;
}

.prod-desc-slogan {
  font-size: 1.8rem;
}

.prod-desc-description {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.slogan-description-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 65%;
  padding: 5px;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 35%;
}

.product-detail-item {
  margin-right: 10px;
}

.detail-item-container {
  padding: 5px;
  border-left: 2px solid black;
  line-height: 2rem;
}

.one-product-detail-item-feature-container {
  padding-left: 1 rem;
  margin-bottom: 0.5rem;
}

.product-detail-item-feature {
  font-size: 1.4rem;
}

.checkmark {
  padding-right: 0.5rem;
}

.main-image-container {
  display: flex;
  align-items: center;
  height: 575px;
  margin: 1rem;
  position: relative;
}

.main-image-container-expanded {
  height: 100%;
}

.main-image.main-image-expanded-magnified:hover {
  cursor: url(images/minus-circle-light-20x20.png), zoom-out;
}

.main-image {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center center;
  height: 100%;
}

.main-image-expanded {
  object-position: left top;
  padding-bottom: 2rem;
}

.main-image:hover {
  cursor: zoom-in;
}

.thumbnail-main-container {
  position: absolute;
  height: 80%;
  top: 50%;
  left: 1rem;
  width: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  transform: translate(0, -50%);
}

.thumbnail-main-container-expanded {
  max-height: 43%;
  width: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.thumbnail-main-carousel {
  height: 100%;
  overflow-y: auto;
  flex: 1;
  scroll-behavior: smooth;
}

.thumbnail-main-carousel::-webkit-scrollbar {
  display: none;
}

.one-thumbnail-container {
  height: 5rem;
  width: auto;
  margin: 1rem 0;
  overflow: hidden;
  box-shadow: 0 1px 5px rgb(31, 30, 30);
}

.one-thumbnail-container-expanded {
  height: 2rem;
  width: auto;
  margin: 1rem 0;
  overflow: hidden;
}

.one-thumbnail {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: left top;
}

.selected-thumbnail {
  padding-bottom: 0.2rem;
  border-bottom: solid black 3px;
}

.image-magnifier {
  position: absolute;
  border: 2px solid black;
  width: 15rem;
  height: 15rem;
  scroll-behavior: "smooth";
  transform: translate(-50%, -50%);
}

.thumbnail-button {
  display: block;
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.thumbnail-button svg {
  margin-bottom: -2px;
}

.thumbnail-button svg polyline {
  stroke: black;
}

.thumbnail-button:hover {
  background-color: rgba(250, 250, 250, 0.8);
  transition: ease-in-out 0.2s;
}

.left-button {
  position: absolute;
  left: 7rem;
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 50%;
}

.left-button svg {
  margin-bottom: -2px;
}

.left-button svg polyline,
.left-button svg line {
  stroke: black;
}

.left-button:hover {
  background-color: rgba(250, 250, 250, 0.8);
  transition: ease-in-out 0.2s;
}

.right-button {
  position: absolute;
  right: 1rem;
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 50%;
}

.right-button svg {
  margin-bottom: -2px;
}

.right-button svg polyline,
.right-button svg line {
  stroke: black;
}

.right-button:hover {
  background-color: rgba(250, 250, 250, 0.8);
  transition: ease-in-out 0.2s;
}

.zoom-button {
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 5px;
}

.zoom-button svg {
  margin-bottom: -2px;
}

.zoom-button svg polyline {
  stroke: black;
}

.zoom-button:hover {
  background-color: rgba(250, 250, 250, 0.8);
  transition: ease-in-out 0.2s;
}

.styles-main-container {
  padding: 1rem;
}

.styles-review-container {
  padding: 1.5rem 0;
  background-color: white;
  display: flex;
  align-items: end;
  position: relative;
}

.stars {
  font-size: 1.4rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stars-overlay {
  position: absolute;
  font-size: 1.4rem;
}

.reviews-link {
  padding-left: 1.5rem;
  padding-bottom: 0.3rem;
  font-weight: 100;
  text-decoration: underline;
  font-size: 0.9rem;
  color: black;
}

.reviews-link:hover {
  font-weight: 500;
  font-size: 1rem;
  transition: ease-in-out 0.1s;
}

.styles-title-container {
  line-height: 2;
}

.style-header {
  font-weight: bold;
  text-transform: uppercase;
}

.style-name {
  font-weight: 100;
  text-transform: uppercase;
  /* letter-spacing: -0.15rem; */
}

.styles-colors-container {
  padding-top: 2rem;
}

.category-name {
  font-weight: 100;
  font-size: 1.6rem;
}

.current-product-name {
  font-size: 2.8rem;
  letter-spacing: 0.15rem;
}

.current-product-pricing {
  font-size: 1.2rem;
  font-weight: 100;
  padding-bottom: 1.8rem;
}

.crossed-off-price {
  color: red;
  text-decoration: line-through;
  padding-right: 1rem;
}

.swatch-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 1rem 0;
  width: 24rem;
}

.one-swatch {
  height: 4rem;
  width: 4rem;
  border: solid black 1px;
  border-radius: 50%;
  margin: 0.7rem 1.4rem 0.7rem 0;
}

.swatch-checkmark-parent {
  position: relative;
}

.swatch-checkmark {
  position: absolute;
  top: 10%;
  left: 45%;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

.size-select {
  width: 60%;
  margin-right: 0.5rem;
  height: 4rem;
  font-size: 1.4rem;
  border-radius: 0%;
}

.quantity-select {
  width: 35%;
  height: 4rem;
  font-size: 1.4rem;
  border-radius: 0%;
}

/* .no-quantity {
} */

.bag-bottom-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.addtobag-button {
  width: 55%;
  margin-right: 0.5rem;
  height: 4rem;
  font-size: 1.4rem;
  border-radius: 0%;
  background-color: white;
  border: 1px solid black;
}

.share-logos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.social-media-logo {
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 0.5rem;
  height: 2.8rem;
  width: 2.8rem;
  margin: 0 0.5rem;
}

.social-media-logo:hover {
  background-color: rgb(85, 85, 85);
  transition: ease-in-out 0.2s;
}

/* End overview specific styling */

/* Austin CSS */

.product-data {
  font-weight: bold;
}

.ratings-and-reviews-container {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.ratings-and-reviews-component-containers {
  margin-right: 5%;
}

.big-star-rating-container {
  display: flex;
  flex-direction: row;
}

.big-star-rating {
  font-size: x-large;
  font-size: 4rem;
}

.review-list-sort {
  font-size: 1.4rem;
}

.ratings-and-reviews-entry-boxes {
  border-bottom: 2px solid gray;
  margin: 10px auto;
  margin-right: 20%;
  width: 600px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.ratings-and-reviews-comments-stars-and-username-line {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ratings-and-reviews-entry-box-user-and-date {
  margin-right: 10px;
  margin-top: 2px;
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-end;
}

.review-list-stars {
  margin-left: 10px;
  font-size: 1.4rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.review-list-stars-overlay {
  margin-left: 10px;
  margin-top: -20px;
  font-size: 1.4rem;
}

.ratings-and-reviews-entry-box-title {
  margin-left: 10px;
  font-weight: bold;
  font-size: large;
  font-size: 1.4rem;
}

.ratings-and-reviews-entry-box-content-body {
  margin-left: 10px;
  font-size: 1.4rem;
  margin-right: 10px;
}

.ratings-and-reviews-entry-box-recommend {
  margin-left: 10px;
  font-size: 1.4rem;
}

.ratings-and-reviews-entry-box-response-box {
  background-color: rgb(219, 218, 218);
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  margin-right: 10px;
}

.ratings-and-reviews-entry-box-response {
  font-size: 1.4rem;
}

.ratings-and-reviews-entry-box-helpful {
  margin-left: 20px;
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: 100;
}

.review-photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.size-characteristics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.comfort-characteristics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.quality-characteristics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fit-characteristics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.length-characteristics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.width-characteristics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.review-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-modal-content {
  width: 600px;
  background-color: #fff;
}

.review-modal-header {
  padding: 10px;
}

.review-modal-title {
  margin: 0;
}

.review-modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 1.4rem;

}

.review-modal-footer {
  padding: 10px;
}

.review-stats-stars {
  margin-left: 8px;
  margin-top: 4px;
  font-size: 1.4rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.review-stats-stars-overlay {
  margin-left: 78px;
  margin-top: 4px;
  position: absolute;
  font-size: 1.4rem;
}

.review-sort-select {
  width: 14%;
  margin-right: 0.5rem;
  height: 2rem;
  font-size: 1.4rem;
  border-radius: 0%;
}

.review-buttons {
  width: 100px;
  margin-right: 0.5rem;
  height: 4rem;
  font-size: 1.4rem;
  border-radius: 0%;
  background-color: white;
  border: 1px solid black;
}

.review-buttons-collection {
  display: flex;
  flex-direction: row;
}

.review-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-modal-content {
  width: 600px;
  background-color: #fff;
}

.review-sort-select {
  width: 80px;
  margin-right: 0.5rem;
  height: 2rem;
  font-size: 1.4rem;
  /* border-radius: 0%; */
  border: none;
  text-decoration: underline;
}

.review-stats-stars {
  margin-left: 22px;
  margin-top: 4px;
  font-size: 1.4rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.review-sort-select {
  width: 80px;
  margin-right: 0.5rem;
  height: 2rem;
  font-size: 1.4rem;
  border: none;
  text-decoration: underline;
}
